.headerbar {
  height: 78px;
  border: 2px solid black;
  background-color: $white;
  border-radius: $borderRadius;
  padding: 16px 16px 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  @media (max-width: $maxPhone) {
    height: 74px;
  }
}

.preview-content {
  height: 46px;
  display: flex;
  justify-content: space-between;
  @media (max-width: $maxPhone) {
    height: 42px;
  }
}

.content {
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @media (max-width: $maxPhone) {
    height: 42px;
  }

  &__middle-links {
    display: inherit;
    align-items: center;
  }
}
