.button {
  font-family: unset;
  border: 2px solid;
  background-color: $white;
  padding: 11px 27px;
  color: $darkPurple;
  border-radius: $borderRadius;
  cursor: pointer;
  max-height: 46px;
  &:hover {
    background-color: $lightPurple;
  }

  @media (max-width: $maxPhone) {
    max-height: 42px;
  }
}

.filled {
  background-color: $darkPurple;
  color: $white;
}

.middleLink {
  border: none;
  color: $grey;
  &:hover {
    background-color: initial;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  @media (max-width: $maxPhone) {
    .button__text {
      display: none;
    }
  }
}
