.handy-image-container {
  background-color: $white;
  max-width: 560px;
  height: 834px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.social-media-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  font-size: 16px;
  color: $white;
  padding: 0px 16px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      g {
        path {
          fill: white;
        }
      }
    }

    span {
      margin-left: 8px;
    }
  }
}
