$darkPurple: #633cff;
$hoverPurple: #beadff;
$lightPurple: #efebff;
$white: #ffffff;
$grey: #737373;
$lightGrey: #fafafa;

$maxPhone: 767px;
$minTablet: $maxPhone + 1;
$maxTablet: 1339px;
$maxDesktop: $maxTablet + 1;

$borderRadius: 8px;
